@charset "utf-8";
/* CSS Document */
*{
    box-sizing: border-box;
}
body{font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
margin: 0px;
font-weight:Small-Caps;}

header{color: white;
  background-color: #226db3;
  font-size: 30px;
  margin: none;
  padding: 10px;
  text-align: center;}

nav{color: white;
  background-color: #a5d1fa;
  text-align: center;
  padding: 5px;}

a{color: white;
    margin: 10px;
	padding: 10px;}

a:hover{background-color: #124b80;
	color:#edd374;}

#left{float:left;
    width: 20%;}

span{font-size: 15px;
    color:black;}

#lh{font-size: 30px;}

.main{margin-top: 20px;
	display: inline-block;
	text-align: center;
    padding: 100px;
    font-size: 20px;
    line-height: 2;
    height: 580px;
	width: 60%;}

#right{width: 20%;
    float: right;}

footer{color: white;
padding: 10px;
	text-align: center;
    background-color: #226db3;}